/* 여기어때 잘난체 서체 가져오는 코드 */
@font-face {
    font-family: 'Simple';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

*{margin: 0;padding: 0;text-decoration: none;list-style-type: none;}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.video_wrap {
    position: relative;
    width: 430px;
    height: 932px;
    background-color: black;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover; 
    display: block;
}

.bt_00 {
    position: absolute;
    z-index: 10;
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
}

.bt_00 img {
    display: block;
    max-width: 100%; 
    border-radius: 8px;
}

.main_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    background-color: #0d0d0d;
}

.a_box, .b_box {
    position: relative; 
    margin: 0 auto;
}

/* 폰트 세팅 */
.font01{
    font-family: 'Simple';
}
.font02{
    font-family: 'Pretendard';
}

/* a_box */
.a_box {
    width: 430px;
    height: 480px;
    background-color: #0d0d0d; 
    position: relative;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 예시 */
}

/* 헤더 */
.a_banner {
    width: 100%;
    height: auto;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* 로고 박스 */
.a_banner_logo {
    width: 131px; 
    height: 60px;  
}

.a_banner_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* 아이콘 그룹 */
.icon_wrap {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.a_banner_cheack, .a_banner_profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #0d0d0d;
    display: flex; align-items: center; justify-content: center; font-size: 8px;
}

.a_banner_cheack img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.a_banner_profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


/* 구분선 */
.a_line {
    width: 95%; 
    height: 1px;
    background-color: #8c7b64;
    margin: 15px auto 0 auto; 
    opacity: 70%;
    display: block;
}

.a_img_area {
    position: relative;
    width: 100%;
    height: 400px;
}

.a_img {
    position: absolute;
    top: 40px;
    left: -200px;
    width: 500px;
    height: 350px;
    z-index: 1;
}

.img_place {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img_place img {
    width: 120%;
    height: 120%;
    object-fit: cover; 
    display: block;
}

.a_txt_wrap {
    position: absolute;
    bottom: 90px;
    right: 20px;
    text-align: right;
    z-index: 10;
}

/* 폰트 스타일 */
.a_box_main_txt{
    font-size: 24px;
    font-weight: bold;
    color: #FF8200;
    font-family: 'Simple';
    display: inline
}


.a_box_main_txt_white {
    color: #ffffff;
}

.a_02 {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}


/* --- B박스 --- */
.b_box {
    margin-top: 70px;
    width: 430px;
    background-color: #0d0d0d;
    padding: 30px 20px 50px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 타이틀 */
.b_title_wrap {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}

.b_box_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.b_item {
    background-color: #333;
    border-radius: 10px;  
    overflow: hidden;  
    position: relative;
}

.b_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.top_big {
    width: 100%;
    height: 220px;
}


.bottom_grid {
    display: flex;
    width: 100%;
    height: 280px;
    gap: 10px;  
}

.left {
    flex: 2; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
}


.right{
    flex: 1;
    display: flex;
}

.mid_grid {
    width: 100%;
    height: 150px; 
}

.small_row {
    display: flex;
    gap: 10px;
    height: 120px;
}

.small_small {
    flex: 1; 
    height: 100%;
}

.b_item_tall_grid {
    width: 100%;
    height: 100%;
}

.more_btn_wrap {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.more_btn {
    position: relative;
    width: 200px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    margin-top: 20px;
}

/* c_box */
.c_box {
width: 430px;
margin: 50px auto;
padding: 0 20px 50px 20px;
}

.c_title_wrap {
font-size: 28px;
font-weight: 900;
margin-bottom: 20px;
}
.orange_txt { color: #ff9000; }
.white_txt { color: #fff; }

.c_filter_grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 8px;
margin-bottom: 25px;
}

.c_btn {
background-color: #D9D9D9;
color: #000000;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
font-weight: 500;
border-radius: 4px;
cursor: pointer;
font-family: 'Pretendard';
letter-spacing: 1px;
}
.c_btn.active {
background-color: #FF8200;
font: 700;
font-size: 15px;
color: #ffffff;
}

/* [몬스터 리스트 컨테이너] */
.mon_list {
display: flex;
flex-direction: column;
gap: 15px;
}

/* [몬스터 카드 공통 스타일] */
.m_item {
background-color: #1a1a1a;
border: 1px solid #444;
overflow: hidden;
position: relative;
cursor: pointer;           
/* 핵심: 높이 애니메이션 */
height: 90px; 
transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

/* [상태 1: 기본(작은) 뷰 레이아웃] */
.m_view_small {
display: flex;
align-items: center;
padding: 10px;
height: 100%;
width: 100%;
position: absolute;
top: 0; left: 0;
z-index: 10;
transition: opacity 0.3s;
}

.m_thumb {
width: 70px; height: 70px;
background-color: #000; margin-right: 15px; border: 1px solid #333;
flex-shrink: 0;
}
.m_thumb img { width: 100%; height: 100%; object-fit: cover; }
.m_info { flex: 1; display: flex; flex-direction: column; justify-content: center; }
.m_stars { color: #ff9000; font-size: 12px; margin-bottom: 2px; }
.m_type { font-size: 11px; color: #aaa; margin-bottom: 2px; }
.m_name { font-size: 15px; font-weight: bold; color: #fff; }
.m_stats_img { width: 140px; height: 60px; }
.m_stats_img img { width: 100%; height: 100%; object-fit: contain; }

/* [상태 2: 상세(큰) 뷰 레이아웃] */

.m_view_blur_hurt{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
}
.m_view_detail {
position: absolute;
top: 0; left: 0;
width: 100%; height: 100%;
opacity: 0;
pointer-events: none;
transition: opacity 0.4s 0.1s;
}

.detail_bg {
width: 100%; height: 100%;
object-fit: cover;
}
    
.detail_txt_layer {
position: absolute;
top: 20px; left: 20px;
text-shadow: 0 0 5px rgba(0,0,0,0.8);
z-index: 2;
}
.detail_txt_layer .m_name {
font-size: 20px; margin-top: 5px; color: #ff9000;
}
.weakness_box {
 position: absolute;
 bottom: 20px; right: 20px;
 width: 140px; height: 100px;
 border-radius: 5px;
 padding: 5px;
 z-index: 2;
}
.weakness_box img { 
width: 130%;
height: 130%;
object-fit: contain;
transform: translateY(-5px);
}


  /* [Active 클래스가 붙었을 때의 변화] */
.m_item.active {
    height: 350px; /* 카드 확장 */
    border-color: #ff9000; /* 테두리 강조 (선택사항) */
}

 /* 활성화 시 작은 뷰 숨기기 */
.m_item.active .m_view_small {
    opacity: 0;
    pointer-events: none;
}

/* 활성화 시 큰 뷰 보이기 */
.m_item.active .m_view_detail {
opacity: 1;
pointer-events: auto;
}


/* d_box */
.d_box {
width: 430px;
margin: 0 auto;
margin-top: 50px;
padding: 0 20px 80px 20px; /* 하단 여백 넉넉히 */
color: #fff;
}

/* 섹션 타이틀 */
.d_title {
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: #ff9000;
    margin-bottom: 25px;
    letter-spacing: -1px;
}

.d_community_container {
    display: flex;
    justify-content: space-between;
    gap: 15px; /* 좌우 사이 간격 */
    margin-bottom: 30px;
}

.d_left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.d_thumb {
    width: 100%;
    height: 110px;
    background-color: #222;
    overflow: hidden;
    border-radius: 4px;
}
.d_thumb img {
    width: 100%; height: 100%; object-fit: cover;
}

.d_info {
    display: flex; flex-direction: column; gap: 5px;
}
.d_box_big {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
    color: #fff;
}
.d_news_desc {
    font-size: 11px;
    color: #aaa;
    line-height: 1.4;
    overflow: hidden;
}

.d_right {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.d_list_item {
    display: flex;
    flex-direction: column; /* dispaly 블럭보다 column이 좋다 */
    gap: 3px;
}
.d_list_big {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
}
.d_list_desc {
    font-size: 10px;
    color: #aaa;
    line-height: 1.3;
    overflow: hidden;
}

/* e_box  */
.e_box {
    background-color: #0d0d0d;
    padding: 60px 20px;
    text-align: center;
}
    
.e_box_container {
    margin: 0 auto;
}
.e_title {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 40px;
}
.e_content_img {
    width: 100%;
    margin-bottom: 50px;
    border-radius: 15px;
    overflow: hidden;
}
.e_content_img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.e_link{
    display: flex;             
    justify-content: center;   
    align-items: center;     
    gap: 45px;          
    margin-bottom: 25px;
}
.e_link img {
    display: block;
}